<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>yelp campgrounds</title>
  </head>
  <body>
  <nav class="navbar navbar-default bg-light ">
<div class="container-fluid">
<div class="collapse navbar-collapse">
    <ul class= "nav navbar-nav navbar-right">
        <a href="/"><li>Register</li></a>
        <a href="/"><li>Login</li></a>
        <a href="/"><li>Log Out</li></a>
    </ul>
</div>
<div class="navbar-header ">
    <a class="navbar-brand" href="/">YelpCamp</a>
</div>
    
</div>
    
</nav>

<br>