<% include partials/header %>

<h2>Campgrounds!</h2>

<% campgrounds.forEach(function(campgrounds){ %>

<div>
    <h4> <%= campgrounds.name %> </h4>
    <img src="<%= campgrounds.image %>" alt="">
</div>


<% }); %>

<% include partials/footer %>