<% include partials/header %>

<div class="container">
    

<header class = "jumbotron"> 
<h2>Welcome To Yelp Campgrounds!</h2>
<p>View our handpicked campgrounds from around the world</p>
 <p>
 <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
 </p>
</header>

<% campgrounds.forEach(function(campgrounds){ %>

<div>
    <h4> <%= campgrounds.name %> </h4>
    <img src="<%= campgrounds.image %>" alt="">
</div>


<% }); %>

</div>
<% include partials/footer %>